/* ---- reset ---- */

@font-face {
    font-family: 'Neutro';
    src: url('Neutro-Demi.woff2') format('woff2'),
        url('Neutro-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



body {
	font-family: "Neutro";
	margin: 0;
	font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
	display: block;
	vertical-align: bottom;
}


p {
    position: fixed;
    font-size: 1em;
    top:0;
    position: fixed; /* or absolute */
	left: 4
}


/* ---- particles.js container ---- */

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	background-image: url("./logo.svg");
	background-repeat: no-repeat;
	background-size: 20%;
	background-position: 50% 50%;

}

/* ---- stats.js ---- */

.count-particles {
	background: white;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;
	color: #13E8E9;
	font-size: .8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.js-count-particles {
	font-size: 1.1em;
}

#stats,
.count-particles {
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
}

#stats {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}

.count-particles {
	border-radius: 0 0 3px 3px;
}


nav {
	background-color:rgba(40, 154, 146, 0.78);
	opacity: 0.7;
    margin: 0px;
	padding: 10px;
	font-family: "Neutro";
	font-size: 17px;
}

a {
	display: flex;
    text-decoration: none;
    color: white;
	font-family: "Neutro";
	font-size: 1.1em;
	margin-left: 46.5%;
	max-width: 90%;
}


@media only screen and (max-width: 600px) {
	#particles-js {
		background-size: 50%;
	}

	a {
		margin-left: 37.5%;
	}
  }


